{{ 'custom-footer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="section-{{ section.id }}-padding">
  <div class="footer-custom page-width">
    <div class="footer-custom__main-content">
      <div class="footer-custom__column">
        <h4 class="footer-custom__column-title">FLAGSHIP STORE</h4>
        <p>45, Dosan-daero 51-gil, Gangnam-gu, Seoul<br>
           MON-FRI 11:00-20:00<br>
           SAT-SUN 12:00-19:00</p>
        <p>KAKAO: aakam<br>
           02-3443-7756<br>
           official@aakam.co.kr</p>
      </div>
      <div class="footer-custom__column">
        <h4 class="footer-custom__column-title">CUSTOMER SERVICE</h4>
        <p>02-3443-7756</p>
        <p>MON-FRI 13:00-17:00<br>
           (LUNCH 12:00-13:00)<br>
           SAT, SUN, HOLIDAY OFF</p>
        <ul>
          <li><a href="#">TERMS & CONDITIONS</a></li>
          <li><a href="#">PRIVACY POLICY</a></li>
          <li><a href="#">SHOPPING GUIDE</a></li>
        </ul>
      </div>
      <div class="footer-custom__column">
        <h4 class="footer-custom__column-title">SOCIAL</h4>
        <div class="footer-custom__social-icons">
          {% if section.settings.instagram_url != blank %}
            <a href="{{ section.settings.instagram_url }}" target="_blank" aria-label="Instagram">
              <svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948s.014 3.667.072 4.947c.2 4.359 2.618 6.78 6.98 6.98 1.281.059 1.689.073 4.948.073s3.667-.014 4.947-.072c4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.947s-.014-3.667-.072-4.947c-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.948-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.162 6.162 6.162 6.162-2.759 6.162-6.162-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4s1.791-4 4-4 4 1.79 4 4-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/></svg>
            </a>
          {% endif %}
          {% if section.settings.kakao_url != blank %}
            <a href="{{ section.settings.kakao_url }}" target="_blank" aria-label="KakaoTalk">
              <svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M20 2H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h2v4l4.333-4H20c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2zm-2 12H6v-2h12v2zm0-3H6V9h12v2zm0-3H6V6h12v2z"/></svg>
            </a>
          {% endif %}
        </div>
        {% if section.settings.newsletter_enable %}
          <div class="footer-custom__newsletter-form">
            <h4 class="footer-custom__column-title">{{ section.settings.newsletter_title | default: "Newsletter" }}</h4>
            {% form 'customer', id: 'FooterNewsletterForm', class: 'newsletter-form-custom' %}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper">
                <input
                  id="FooterNewsletterEmail"
                  type="email"
                  name="contact[email]"
                  class="field__input"
                  value="{{ form.email }}"
                  aria-required="true"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  placeholder="{{ 'newsletter.label' | t }}"
                  required
                >
                <button type="submit" class="newsletter-form__button field__button" name="commit" aria-label="{{ 'newsletter.button_label' | t }}">
                  {{ 'newsletter.button_label' | t | default: "Subscribe" }}
                </button>
              </div>
              {%- if form.errors -%}
                <small class="form__message" id="FooterNewsletterForm-error">
                  <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                  {{- form.errors.translated_fields.email | capitalize }} {{ form.errors.messages.email -}}
                </small>
              {%- endif -%}
              {%- if form.posted_successfully? -%}
                <p class="form__message form__message--success" id="FooterNewsletterForm-success" tabindex="-1" autofocus>
                  {{ 'newsletter.success' | t }}
                </p>
              {%- endif -%}
            {% endform %}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="footer-custom__bottom-bar">
      <div class="footer-custom__company-info">
        <p>COMPANY: 주식회사 아캄 (AKAM Inc.) | CEO: 아무개 (Amu Gae)</p>
        <p>COMPANY REG.NO: 123-45-67890</p>
        <p>PERSONAL INFO MANAGER: 아무개 (info@aakam.co.kr)</p>
        <p>NETWORK REG.NO: 2023-서울강남-01234</p>
        <p>ADDRESS: 06011 서울시 강남구 도산대로51길 45 (신사동) 1층 아캄</p>
      </div>
      <div class="footer-custom__copyright">
        <p>&copy; {{ 'now' | date: "%Y" }} {{ shop.name }}. ALL RIGHTS RESERVED.</p>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Custom Footer",
  "class": "section-footer-custom",
  "settings": [
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "Show newsletter signup"
    },
    {
      "type": "text",
      "id": "newsletter_title",
      "default": "Newsletter",
      "label": "Newsletter form heading"
    },
    {
      "type": "url",
      "id": "instagram_url",
      "label": "Instagram URL",
      "info": "Enter your Instagram profile URL."
    },
    {
      "type": "url",
      "id": "kakao_url",
      "label": "KakaoTalk URL",
      "info": "Enter your KakaoTalk channel URL."
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 52
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": []
}
{% endschema %}
